<div class="games">
  <h1>GAMES</h1>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        list games
      </div>
      <div class="medium-4 cell">
        create game
      </div>
    </div>
  </div>
</div>
