<div class="games">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 cell">
        <h1>GAMES</h1>
      </div>
      <div class="medium-8 cell">
        <Panel @title="My games">
          <div>
            games list
          </div>
        </Panel>
      </div>
      <div class="medium-4 cell">
        <Panel @title="Create new game">
          <div>
            new game form
          </div>
        </Panel>
      </div>
    </div>
  </div>
</div>
