<div class="games">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-4 cell">
        <h1 class="heading">
          GAMES
        </h1>
      </div>
      <div class="small-12 medium-8 cell">
        <ul class="menu">
          <li><LinkTo @route="admin.games.list" href="#">Games List</LinkTo></li>
          <li><LinkTo @route="admin.games.new" href="#">Create Game</LinkTo></li>
        </ul>
      </div>
      <div class="small-12 cell">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
