#admin-page {
  background: url(../assets/img/jellyfish.png);
  display: flex;

  .admin-content-wrapper {
    flex-grow: 1;
    padding: 1rem 0;

    .menu {
      background: $white;
      padding: 0.5rem;
      li a {
        color: $black;
        &.active {
          background: get-color(warning);
        }
      }
    }

    .games {
      .app-panel {
        color: get-color(app-indigo);
      }
    }
  }
}
