@import 'settings';
@import 'app/styles/foundation_config';

// Mixins
@import "mixins";

//Templates
@import "signup";
@import "login";
@import "admin";
@import "home";

//Components
@import "errorBox";
@import "admin-sidebar";

html {
  height: 100%;
  body {
    height: 100%;
    &.ember-application {
      .button-large {
        padding: 0.85em 1em;
        border-width: 2px;
        font-size: 1.8rem;
      }
      > div{
        height: 100%;
      }
    }
  }
}
