@import 'settings';
@import 'app/styles/foundation_config';

// Mixins
@import "mixins";

//Templates
@import "signup";
@import "login";
@import "admin";
@import "home";

//Components
@import "errorBox";
@import "admin-sidebar";
@import "panel";

html {
  height: 100%;
  body {
    height: 100%;
    &.ember-application {
      .heading {
        border-top: 2rem solid get-color(primary);
        padding: 1rem 3rem 0.5rem 0.5rem;
        background: $white;
      }
      .button-large {
        padding: 0.85em 1em;
        border-width: 2px;
        font-size: 1.8rem;
      }
      > div{
        height: 100%;
      }
    }
  }
}
