<Panel @title="My games" @variant="app-purple">
  <div>
    {{#if this.model.existingGames.length}}
      games list
    {{else}}
      <h2>Create New game</h2>
      <br>
      <form>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-8 cell">
              <label>Give the game a name:
                <Input @type="text" @value={{@model.name}} placeholder="my game" />
              </label>
            </div>
            <div class="medium-8 cell">
              <label>Add players:
                <Input @type="text" @value={{@model.name}} placeholder="my game" />
              </label>
            </div>
          </div>
        </div>
      </form>
    {{/if}}
  </div>
</Panel>