<div class="admin-sidebar">
  <ul class="vertical menu">
    <li>
      <LinkTo @route="admin.games">Games</LinkTo>
    </li>
  </ul>
  <ul class="vertical menu toggler">
    <li>
      <div class="button">hide</div>
    </li>
  </ul>
</div>
