<div class="app-panel card {{if @variant @variant "primary"}}">
  {{#if @title}}
    <div class="card-divider">
      <h4>
        {{@title}}
      </h4>
    </div>
  {{/if}}
  <div class="card-section">
    {{yield}}
  </div>
</div>