<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Admin Page</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button" class="button success">+</button></li>
    </ul>
  </div>
</div>